# ALY6040 Final Project

## Exploratory Data Analysis

In [1]:
import pandas as pd
import numpy as np
from plotly import express as px
from plotly import figure_factory as ff
from plotly import graph_objects as go

In [2]:
# Load the dataset
df = pd.read_csv("final_project_dataset.csv", low_memory=False)

### 1. Initial Exploration

In [3]:
print("Dataset Info:")
print(df.info())

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182242 entries, 0 to 182241
Data columns (total 65 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   PID                  182242 non-null  int64
 1   CM_ID                93291 non-null   float64
 2   GIS_ID               182242 non-null  int64
 3   ST_NUM               172879 non-null  float64
 4   ST_NAME              182242 non-null  object
 5   UNIT_NUM             82613 non-null   object
 6   CITY                 182239 non-null  object
 7   ZIP_CODE             182239 non-null  float64
 8   BLDG_SEQ             182242 non-null  int64
 9   NUM_BLDGS            182242 non-null  int64
 10  LUC                  182242 non-null  int64
 11  LU                   182242 non-null  object
 12  LU_DESC              182242 non-null  object
 13  BLDG_TYPE            179626 non-null  object
 14  OWN_OCC              182242 non-null  object
 15  OWNER                182242 non-null  object
 16  MAIL_ADDRESSEE       34412 non-null   object
 17  MAIL_STREET_ADDRESS  182238 non-null  object
 18  MAIL_CITY            182231 non-null  object
 19  MAIL_STATE           181923 non-null  object
 20  MAIL_ZIP_CODE        182181 non-null  object
 21  RES_FLOOR            148450 non-null  float64
 22  CD_FLOOR             71972 non-null   float64
 23  RES_UNITS            10768 non-null   float64
 24  COM_UNITS            10768 non-null   float64
 25  RC_UNITS             10768 non-null   float64
 26  LAND_SF              174240 non-null  object
 27  GROSS_AREA           148394 non-null  float64
 28  LIVING_AREA          148101 non-null  float64
 29  LAND_VALUE           182242 non-null  object
 30  BLDG_VALUE           182242 non-null  object
 31  SFYI_VALUE           182242 non-null  int64
 32  TOTAL_VALUE          182242 non-null  object
 33   GROSS_TAX           182242 non-null  object
 34  YR_BUILT             159456 non-null  float64
 35  YR_REMODEL           86718 non-null   float64
 36  STRUCTURE_CLASS      17406 non-null   object
 37  ROOF_STRUCTURE       146017 non-null  object
 38  ROOF_COVER           146023 non-null  object
 39  INT_WALL             133493 non-null  object
 40  EXT_FNISHED          159358 non-null  object
 41  INT_COND             133496 non-null  object
 42  EXT_COND             146084 non-null  object
 43  OVERALL_COND         172655 non-null  object
 44  BED_RMS              133477 non-null  float64
 45  FULL_BTH             170598 non-null  float64
 46  HLF_BTH              170733 non-null  float64
 47  KITCHENS             170524 non-null  float64
 48  TT_RMS               133413 non-null  float64
 49  BDRM_COND            71742 non-null   object
 50  BTHRM_STYLE1         132694 non-null  object
 51  BTHRM_STYLE2         85165 non-null   object
 52  BTHRM_STYLE3         36502 non-null   object
 53  KITCHEN_TYPE         132687 non-null  object
 54  KITCHEN_STYLE1       132693 non-null  object
 55  KITCHEN_STYLE2       31248 non-null   object
 56  KITCHEN_STYLE3       13745 non-null   object
 57  HEAT_TYPE            134000 non-null  object
 58  HEAT_SYSTEM          72229 non-null   object
 59  AC_TYPE              133970 non-null  object
 60  FIREPLACES           132708 non-null  float64
 61  ORIENTATION          71974 non-null   object
 62  NUM_PARKING          133619 non-null  float64
 63  PROP_VIEW            135289 non-null  object
 64  CORNER_UNIT          71971 non-null   object
dtypes: float64(19), int64(6), object(40)
memory usage: 90.4+ MB
None

In [4]:
print("Summary Statistics:")
print(df.describe())

Summary Statistics:
                PID         CM_ID        GIS_ID         ST_NUM       ZIP_CODE  \
count  1.822420e+05  9.329100e+04  1.822420e+05  172879.000000  182239.000000
mean   1.140093e+09  9.175609e+08  1.140094e+09     226.431695    2129.867937
std    7.091114e+08  6.896463e+08  7.091123e+08     475.704566      30.721915
min    1.000010e+08  1.000180e+08  1.000010e+08       0.000000    2026.000000
25%    5.015880e+08  3.069060e+08  5.015882e+08      24.000000    2119.000000
50%    1.102618e+09  6.026424e+08  1.102618e+09      68.000000    2127.000000
75%    1.810508e+09  1.602331e+09  1.810508e+09     212.000000    2131.000000
max    2.205670e+09  2.205665e+09  2.205670e+09    5341.000000    2467.000000

       BLDG_SEQ      NUM_BLDGS            LUC      RES_FLOOR      CD_FLOOR  \
count  182242.0  182242.000000  182242.000000  148450.000000  71972.000000
mean        1.0       1.000077     202.581644       1.880354      3.520313
std         0.0       0.008764     266.131091       1.129042      5.256928
min         1.0       1.000000      13.000000       0.000000      0.000000
25%         1.0       1.000000     102.000000       1.000000      1.000000
50%         1.0       1.000000     102.000000       2.000000      2.000000
75%         1.0       1.000000     108.000000       2.500000      4.000000
max         1.0       2.000000     995.000000      62.000000     60.000000

       ...  SFYI_VALUE       YR_BUILT    YR_REMODEL        BED_RMS  \
count  ...    182242.0  159456.000000  86718.000000  133477.000000
mean   ...         0.0    1933.215665   2002.011647       3.148438
std    ...         0.0      63.981908     65.386476       2.102219
min    ...         0.0    1700.000000      0.000000       0.000000
25%    ...         0.0    1900.000000   1987.000000       2.000000
50%    ...         0.0    1920.000000   2005.000000       3.000000
75%    ...         0.0    1965.000000   2016.000000       4.000000
max    ...         0.0   20198.000000  20220.000000      21.000000

            FULL_BTH        HLF_BTH       KITCHENS         TT_RMS  \
count  170598.000000  170733.000000  170524.000000  133413.000000
mean        1.359758       0.221925       1.051881       6.940583
std         1.060568       0.460028       0.805374       4.009798
min         0.000000       0.000000       0.000000       1.000000
25%         1.000000       0.000000       1.000000       4.000000
50%         1.000000       0.000000       1.000000       6.000000
75%         2.000000       0.000000       1.000000       9.000000
max        21.000000       7.000000       5.000000      20.000000

          FIREPLACES    NUM_PARKING
count  132708.000000  133619.000000
mean        0.344162       1.328943
std         0.686004       2.411295
min         0.000000       0.000000
25%         0.000000       0.000000
50%         0.000000       1.000000
75%         1.000000       2.000000
max        12.000000     210.000000

[8 rows x 25 columns]

In [5]:
print("Missing Values")
print((((df.isna().sum()) * 100 ) / df.shape[0]).sort_values(ascending=False).head(20))

Missing Values
RES_UNITS          94.091373
COM_UNITS          94.091373
RC_UNITS           94.091373
KITCHEN_STYLE3     92.457831
STRUCTURE_CLASS    90.448963
KITCHEN_STYLE2     82.853568
MAIL_ADDRESSEE     81.117415
BTHRM_STYLE3       79.970589
BDRM_COND          60.633663
CORNER_UNIT        60.508006
CD_FLOOR           60.507457
ORIENTATION        60.506360
HEAT_SYSTEM        60.366436
UNIT_NUM           54.668518
BTHRM_STYLE2       53.268182
YR_REMODEL         52.416018
CM_ID              48.809276
KITCHEN_TYPE       27.191866
KITCHEN_STYLE1     27.188573
BTHRM_STYLE1       27.188025
dtype: float64

### 2. Handle Missing Values

In [6]:
# Clean column names
df.columns = df.columns.str.strip().str.lower()

In [7]:
# Convert numeric columns
numeric_columns = ["land_sf", "land_value", "bldg_value", "total_value", "sfyi_value", "yr_built", "yr_remodel"]
for col in numeric_columns:
    df[col] = df[col].astype(str).str.replace(r"[^0-9.]", "", regex=True)
    df[col] = pd.to_numeric(df[col], errors="coerce")

In [8]:
# Drop high-missing columns
drop_cols = ["res_units", "com_units", "rc_units", "structure_class"]
df.drop(columns=drop_cols, inplace=True)

In [9]:
# Property classification
df['property_type'] = ''
residential = ["R1", "R2", "R3", "R4", "A", "CD", "CM", "RL"]
commercial = ["CC", "C", "CL"]
industrial = ["I"]
mixed_use = ["RC"]

df.loc[df["lu"].isin(residential), "property_type"] = "Residential"
df.loc[df["lu"].isin(commercial), "property_type"] = "Commercial"
df.loc[df["lu"].isin(industrial), "property_type"] = "Industrial"
df.loc[df["lu"].isin(mixed_use), "property_type"] = "Mixed-Use"
df['property_type'].fillna("Other", inplace=True)

<ipython-input-9-e54b79a643c9>:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['property_type'].fillna("Other", inplace=True)

In [10]:
# Impute missing values based on property type
res_cols = ["bed_rms", "full_bth", "hlf_bth", "kitchens", "tt_rms", "living_area", "gross_area", "yr_built"]
for col in res_cols:
    df.loc[df["property_type"] == "Residential", col] = df.loc[df["property_type"] == "Residential", col].fillna(df[col].median())

df.loc[df["property_type"] != "Residential", res_cols] = np.nan

In [11]:
# Fill categorical missing values
categorical_cols = ["bldg_type", "heat_type", "ac_type", "prop_view"]
for col in categorical_cols:
    df[col].fillna(df[col].mode()[0], inplace=True)

<ipython-input-11-022ee220dad6>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)

In [12]:
# Feature Engineering
df["value_per_sqft"] = df["total_value"] / df["land_sf"]

In [13]:
# Drop rows with missing key values before plotting
df_clean = df.dropna(subset=["yr_built", "total_value", "bldg_value", "land_value"])

### Hypothesis 1: Building Value vs. Land Value vs. Total Value (Scatter Plot)

In [14]:
# fig1 = go.Figure()
# fig1.add_trace(go.Scatter(x=df_clean["bldg_value"], y=df_clean["total_value"], mode="markers",
#                           name="Building Value", marker=dict(color="blue", opacity=0.5)))
# fig1.add_trace(go.Scatter(x=df_clean["land_value"], y=df_clean["total_value"], mode="markers",
#                           name="Land Value", marker=dict(color="green", opacity=0.5)))
# fig1.update_layout(title="Building vs. Land Contribution to Total Property Value",
#                    xaxis_title="Value ($)", yaxis_title="Total Property Value ($)")
# fig1.show()

### Hypothesis 2: Property Age & Remodeling Impact on Value

In [15]:
# fig2 = px.box(df_clean, x="property_type", y="total_value", color=df_clean["yr_built"].astype(str),
#               title="Property Value by Age and Remodel Status",
#               labels={"property_type": "Property Type", "total_value": "Total Assessed Value ($)", "yr_built": "Year Built"})

# fig2.show()

### Hypothesis 3: Residential Properties have a higher Value per SQFT as compared to Industrial or Commercial

In [16]:
# fig3 = go.Figure()
# fig3.add_trace(go.Bar(x=df["property_type"].unique(), y=df.groupby("property_type")["total_value"].mean(),
#                       name="Total Value", marker_color="blue"))
# fig3.add_trace(go.Bar(x=df["property_type"].unique(), y=df.groupby("property_type")["value_per_sqft"].mean(),
#                       name="Value per Sq Ft", marker_color="orange"))
# fig3.update_layout(title="Commercial vs. Residential: Total Value vs. Value per Sq Ft",
#                    xaxis_title="Property Type", yaxis_title="Value ($)", barmode="group")

# fig3.show()

In [17]:
print("Missing Values")
print((((df.isna().sum()) * 100 ) / df.shape[0]).sort_values(ascending=False).head(30))

Missing Values
kitchen_style3    92.457831
kitchen_style2    82.853568
mail_addressee    81.117415
bthrm_style3      79.970589
bdrm_cond         60.633663
corner_unit       60.508006
cd_floor          60.507457
orientation       60.506360
heat_system       60.366436
unit_num          54.668518
bthrm_style2      53.268182
yr_remodel        52.416018
cm_id             48.809276
kitchen_type      27.191866
kitchen_style1    27.188573
bthrm_style1      27.188025
fireplaces        27.180343
int_wall          26.749597
int_cond          26.747951
num_parking       26.680458
roof_structure    19.877416
roof_cover        19.874123
ext_cond          19.840651
res_floor         18.542378
tt_rms            18.274053
bed_rms           18.274053
full_bth          18.274053
kitchens          18.274053
yr_built          18.274053
gross_area        18.274053
dtype: float64

In [18]:
df['kitchen_style3'] =df['kitchen_style3'].fillna('No Kitchen 3')
df['kitchen_style2'] =df['kitchen_style2'].fillna('No Kitchen 2')
df['bthrm_style3'] =df['bthrm_style3'].fillna('No Bathroom 3')
df['bthrm_style2'] =df['bthrm_style2'].fillna('No Bathroom 2')

In [19]:
df = df.drop(columns=['mail_addressee', 'unit_num', 'cm_id', 'gis_id', 'corner_unit', 'cd_floor', 'orientation', 'mail_state', 'mail_zip_code', 'mail_city', 'mail_street_address'])

In [20]:
df['bdrm_cond'] = df['bdrm_cond'].fillna('Not Specified')
df['int_cond'] = df['int_cond'].fillna('Not Specified')
df['ext_cond'] = df['ext_cond'].fillna('Not Specified')
df['overall_cond'] = df['overall_cond'].fillna('Not Specified')
df['heat_system'] =df['heat_system'].fillna('Not Specified')
df['int_wall'] =df['int_wall'].fillna('Not Specified')

In [21]:
df = df.dropna(subset=['land_sf', 'gross_area', 'living_area', 'num_parking', 'st_num', 'roof_structure', 'roof_cover', 'ext_fnished', 'res_floor'])

In [22]:
df['yr_remodel'] = df['yr_remodel'].fillna(-1)

In [23]:
df['kitchen_type'] = df['kitchen_type'].fillna('Not Specified')
df['kitchen_style1'] = df['kitchen_type'].fillna('No Kitchen 1')
df['bthrm_style1'] = df['bthrm_style1'].fillna('No Bathroom 1')

In [24]:
df['fireplaces'] = df['fireplaces'].fillna(0.0)

### 3. Model Building

In [25]:
df['gross_tax'] = df['gross_tax'].astype(str).str.replace('$', '', regex=False)
df['gross_tax'] = df['gross_tax'].str.replace(',', '', regex=False)
df['gross_tax'] = df['gross_tax'].str.replace(' ', '', regex=False)
df['gross_tax'] = pd.to_numeric(df['gross_tax'])

In [26]:
from sklearn.model_selection import train_test_split
from catboost import CatBoostRegressor, Pool

In [27]:
categorical_cols = df.select_dtypes(include=['object']).columns.tolist()
cat_features = [df.columns.get_loc(col) for col in categorical_cols]
X = df.drop('total_value', axis=1)
y = df['total_value']

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [29]:
train_data = Pool(data=X_train, label=y_train, cat_features=cat_features)

CatBoostError: Bad value for num_feature[non_default_doc_idx=0,feature_idx=23]="G - Gable": Cannot convert 'b'G - Gable'' to float

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f"Mean Squared Error: {mse}")
print(f"R-squared: {r2}")

In [32]:
print(categorical_cols)

['st_name', 'city', 'lu', 'lu_desc', 'bldg_type', 'own_occ', 'owner', 'roof_structure', 'roof_cover', 'int_wall', 'ext_fnished', 'int_cond', 'ext_cond', 'overall_cond', 'bdrm_cond', 'bthrm_style1', 'bthrm_style2', 'bthrm_style3', 'kitchen_type', 'kitchen_style1', 'kitchen_style2', 'kitchen_style3', 'heat_type', 'heat_system', 'ac_type', 'prop_view', 'property_type']

In [33]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 132656 entries, 0 to 182239
Data columns (total 52 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   pid             132656 non-null  int64
 1   st_num          132656 non-null  float64
 2   st_name         132656 non-null  object
 3   city            132656 non-null  object
 4   zip_code        132656 non-null  float64
 5   bldg_seq        132656 non-null  int64
 6   num_bldgs       132656 non-null  int64
 7   luc             132656 non-null  int64
 8   lu              132656 non-null  object
 9   lu_desc         132656 non-null  object
 10  bldg_type       132656 non-null  object
 11  own_occ         132656 non-null  object
 12  owner           132656 non-null  object
 13  res_floor       132656 non-null  float64
 14  land_sf         132656 non-null  float64
 15  gross_area      132656 non-null  float64
 16  living_area     132656 non-null  float64
 17  land_value      132656 non-null  int64
 18  bldg_value      132656 non-null  int64
 19  sfyi_value      132656 non-null  int64
 20  total_value     132656 non-null  int64
 21  gross_tax       132656 non-null  float64
 22  yr_built        132656 non-null  float64
 23  yr_remodel      132656 non-null  float64
 24  roof_structure  132656 non-null  object
 25  roof_cover      132656 non-null  object
 26  int_wall        132656 non-null  object
 27  ext_fnished     132656 non-null  object
 28  int_cond        132656 non-null  object
 29  ext_cond        132656 non-null  object
 30  overall_cond    132656 non-null  object
 31  bed_rms         132656 non-null  float64
 32  full_bth        132656 non-null  float64
 33  hlf_bth         132656 non-null  float64
 34  kitchens        132656 non-null  float64
 35  tt_rms          132656 non-null  float64
 36  bdrm_cond       132656 non-null  object
 37  bthrm_style1    132656 non-null  object
 38  bthrm_style2    132656 non-null  object
 39  bthrm_style3    132656 non-null  object
 40  kitchen_type    132656 non-null  object
 41  kitchen_style1  132656 non-null  object
 42  kitchen_style2  132656 non-null  object
 43  kitchen_style3  132656 non-null  object
 44  heat_type       132656 non-null  object
 45  heat_system     132656 non-null  object
 46  ac_type         132656 non-null  object
 47  fireplaces      132656 non-null  float64
 48  num_parking     132656 non-null  float64
 49  prop_view       132656 non-null  object
 50  property_type   132656 non-null  object
 51  value_per_sqft  132656 non-null  float64
dtypes: float64(17), int64(8), object(27)
memory usage: 53.6+ MB
None

In [30]:
df_dummies = pd.get_dummies(df)

In [37]:
X = df_dummies.drop('total_value', axis=1)
y = df_dummies['total_value']

In [38]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

rf_regressor = RandomForestRegressor(n_estimators=100, random_state=42)
rf_regressor.fit(X_train, y_train)

y_pred = rf_regressor.predict(X_test)